#rowDiv {
	position: relative;
	left:160px;
	top:35px;
	margin: auto;
	text-align: center;
	width: 60%;
}

.row {
	position: relative;
	left:280px;
	top:30px;
}

input[type="text"] {
	height: 40px;
	font-size: 20px;
}

#submitWeather {
	height: 40px;
	font-size: 20px;
	font-weight:bold;
	position: relative;
	left:10px;
}

#show {
	margin:auto;
	text-align: center;
	position: relative;
	top:100px;
}
